{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Allegderly{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% include "partials/_navbar.html" %}

  <div class="app-layout">
      {% include "partials/_sidebar.html" %}
      <main class="app-main">
        {% include "partials/_alerts.html" %}
        {% block content %}{% endblock %}
      </main>
  </div>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
